@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-main: #6c5ce7;
  --primary-light: #c7c1f6;
  --primary-dark: #1c1171;

  --accent-main: #55efc4;
  --accent-light: #cefaee;
  --accent-dark: #13cc99;

  --theme-main: #f5f6fa;
  --theme-light: #fff;
  --theme-dark: #f0f0f4;

  --theme-contrast-main: #474747;
  --theme-contrast-light: #696969;
  --theme-contrast-dark: #000;

  .dark {
      --theme-main: #474747;
      --theme-light: #696969;
      --theme-dark: #000;

      --theme-contrast-main: #f5f6fa;
      --theme-contrast-light: #fff;
      --theme-contrast-dark: #f0f0f4;
  }
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
